
@{
    ViewBag.Title = "Manufacturer";
}


<!-- Form Element area Start-->
<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list" id="manufacturecreate">
                    @*<div class="basic-tb-hd">
                            <h2>Input Text</h2>
                            <p>Text Inputs with different sizes by height and column.</p>
                        </div>*@
                    <div class="cmp-tb-hd bcs-hd">
                        <h2>Manufacturer List</h2>
                        <p>Create Manufacturer List</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-support"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Name" id="txtMName">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-mail"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Email Address" id="txtEmailId">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-phone"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Contact Number" id="txtContactNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-map"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Location" id="txtLocation">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-btn-info"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Escalation Person Name" id="txtEPersonName">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-btn-info"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Escalation Person contact" id="txtEPersonContact">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary notika-btn-primary" id="btnCreate" onclick="fnSave();">Save</button>
                            <button class="btn notika-btn-bluegray btn-reco-mg btn-button-mg" onclick="fncancel();">Cancel</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>List Of Manufactturer</h2>

                    </div>
                    <div class="table-responsive">
                        <table id="tblData" class="table table-striped"></table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="~/Content/TEST/datatables.css" rel="stylesheet" />
<script src="~/Content/TEST/datatables.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>




<script type="text/javascript">
    //Global Variables
    var GlobalId = 0;
    //Global Variables
      var Role = @Html.Raw(Json.Encode(@Session["Role"]));
    $(document).ready(function ()
    {
        if (Role != 'Admin' && Role != 'User') {
            $('#manufacturecreate').hide();
        }
        LoadData();
    });
    //Document Ready Closed
    function fnEdit(Id) {
        debugger;
        var obj = Id;// JSON.parse(Id);
        $('#txtMName').val(obj.Manufacturer_Name);
        $('#txtEmailId').val(obj.Email_Id);
        $('#txtContactNumber').val(obj.Contact_Number);
        $('#txtLocation').val(obj.Location);
        $('#txtEPersonContact').val(obj.E_Contact_Person);
        $('#txtEPersonName').val(obj.EPersonName)

        GlobalId = obj.Manufacturer_Id;
        Is_Edit = true;
        $('#btnCreate').text('Update')
    }
    function fnSave()
    {
        var Manufacturer_Name = $.trim($('#txtMName').val());
        var EmailId=$.trim( $('#txtEmailId').val());
        var ContactNumber=$.trim($('#txtContactNumber').val());
        var Location = $.trim($('#txtLocation').val());
        var Esc_Contact_Person = $.trim($('#txtEPersonContact').val());
        var EPersonName = $.trim($('#txtEPersonName').val());

        if (Manufacturer_Name == "") {
            ALERT('Please Enter the Manufacturer Name');
            return false;
        }
        //if (EmailId == "") {
        //    ALERT('Please Enter the Email Id');
        //    return false;
        //}
        if (ContactNumber == "") {
            ALERT('Please Enter the Contact Number');
            return false;
        }
        //if (Location == "") {
        //    ALERT('Please Enter the Location');
        //    return false;
        //}
        //if (Esc_Contact_Person == "") {
        //    ALERT('Please Enter the Contact Person ');
        //    return false;
        //}
        $.ajax({
            url: '@Url.Action("SaveManufacturerMaster","Master")',
            data: "Manufacturer_Name=" + Manufacturer_Name + "&EmailId=" + EmailId + "&ContactNumber=" + ContactNumber + "&Location=" + Location + "&E_Contact_Person=" + Esc_Contact_Person + "&Id=" + GlobalId + "&EPersonName=" + EPersonName,
            type: "POST",
            success: function (resp) {
                if (resp != null) {
                    if (resp.split(':')[0] == "SUCCESS") {
                        if (GlobalId == 0) {
                            ALERT("Saved Successfuly.");
                        }
                        else {
                            ALERT("Updated Successfuly.");
                        }
                        //$('#txtMName').val('');
                        //$('#txtEmailId').val('');
                        //$('#txtContactNumber').val('');
                        //$('#txtLocation').val('');
                        //$('#txtEPersonContact').val('')
                        //GlobalId = 0;
                        //$('#btnCreate').text('Save');
                        fncancel();
                        LoadData();
                    }
                    else if (resp.split(':')[0] == "EXIST") {
                        alert("Failed to Save. Entered Mailid and Contact number already exist.")
                    }else {
                        ALERT("Error");
                    }
                } else {
                    ALERT("No Data");
                }

            }
        });

    }
    function LoadData() {
        $.ajax({
            url: '@Url.Action("LoadManufacturerMaster", "Master")',
            //data:"Problem_Categroy="+Prob_Cat,
            type: "POST",
            success: function (resp) {
                if (resp != null) {
                    var str = "";
                    str += "<thead>";
                    str += "<tr>";
                    str += "<th>Manufacturer Name</th>";
                    str += "<th>Email Id</th>";
                    str += "<th>Contact Number</th>";
                    str += "<th>Location</th>";
                    str += "<th>Contact Person</th>";
                    str += "<th>Contact Person Name</th>";
                    str += "<th>Is Active</th>";
                    str += "<th>Created By</th>";
                    str += "<th>Created date</th>";
                    if (Role == 'Admin' || Role == 'User') {
                        str += "<th>Action</th>";
                        str += "<th>Delete</th>";
                    }
                    str += "</tr>";
                    str += "</thead>";
                    str += "<tbody>";

                    for (var l = 0; l < resp.length; l++) {
                        str += "<tr>";
                        str += "<td>" + resp[l].Manufacturer_Name + "</td>";
                        str += "<td>" + resp[l].Email_Id + "</td>";
                        str += "<td>" + resp[l].Contact_Number + "</td>";
                        str += "<td>" + resp[l].Location + "</td>";
                        str += "<td>" + resp[l].E_Contact_Person + "</td>";
                        str += "<td>" + resp[l].EPersonName + "</td>";
                        if (resp[l].Is_Active = 1) {
                            str += "<td>Yes</td>";
                        } else {
                            str += "<td>No</td>";
                        }

                        str += "<td>" + resp[l].Created_By + "</td>";
                        str += "<td>" + resp[l].Created_Date + "</td>";
                        var ac = JSON.stringify(resp[l]);
                        if (Role == 'Admin' || Role == 'User') {
                            str += "<td><a href='#' onclick=fnEdit(" + ac.replace(/\ /g, "&nbsp;") + ");>Edit</a></td>";
                            str += "<td><a href='#' onclick=Delete(" + resp[l].Manufacturer_Id + ");>Delete</a></td>";
                        }
                        str += "</tr>";
                    }
                    str += "</tbody>";
                    $('#tblData').empty();
                    $('#tblData').append(str);
                    $('#tblData').DataTable().destroy();
                    $('#tblData').DataTable(
                        {
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    className: 'btn btn-primary notika-btn-primary waves-effect',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3, 4, 5, 6, 7,8]
                                    }
                                },
                                {
                                    extend: 'excelHtml5',
                                    className: 'btn btn-primary notika-btn-primary waves-effect',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3, 4, 5, 6, 7,8]
                                    }
                                }
                            ]
                        }
                    );

                } else {
                    ALERT("No Data");
                }

            }
        });
    }
    function fncancel() {
        $('#txtMName').val('');
        $('#txtEmailId').val('');
        $('#txtContactNumber').val('');
        $('#txtLocation').val('');
        $('#txtEPersonContact').val('');
        GlobalId = 0;
        $('#btnCreate').text('Save');
    }
    function Delete(Id) {
        var r = confirm("Are you Sure You want to delete it");
        if (r == true) {
            $.ajax({
            url: '@Url.Action("Delete_ManuFacturerMaster", "Master")',
            data: "Id=" + Id,
            type: "POST",
            success: function (resp) {
                LoadData();
            }
        });
        } else {
        }

    }
</script>




